.popup {
    width:100%;
    height: 100vh;
    background-color: rgba($color-black, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all.2s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            display: inline-block;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            text-decoration: none;
            font-size: 3rem;
            transition: all .3s;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &__content {
        @include abscenter;
        width: 75%;
        background-color: $color-white;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        display: table;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.666666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 2rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-dark;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}